/*

@font-face {
  font-family: 'Name';
  src: url('Name.woff2') format('woff2'),
       url('Name.woff') format('woff'),
       url('Name.otf') format('opentype');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
  font-display: swap;
}

*/
